{% extends "base.html" %}
{% block content %}

<!-- Content -->
<div id="content">
</div>

<script>
    var chapter = JSON.parse('{{ chapter|tojson }}');
    var topic = JSON.parse('{{ topic|tojson }}');
    var content = JSON.parse('{{ content|tojson }}');
    var user_exercise = JSON.parse('{{ user_exercise|tojson }}');
    var chapter_sum = JSON.parse('{{ chapter_sum|tojson }}');
    
    // Display Learning and Exam content
    function display_content(){
        var content_div = document.getElementById("content");
        content_div.innerHTML = "";

        for(var ch in chapter){

            var highlight = ""
            var reommend_message = ""
            if(ch > 1){
                highlight = vark_highlight(ch-1)
                if(highlight){
                    reommend_message = "<font color='DodgerBlue' style='margin-left:20px'>* Recommend learning media : "+highlight+"</font><br><br>"
                }
            }

            // write chapter to html
            content_div.innerHTML += "<div id='chapter' style='"+enable_disable_chapter(ch)+"'>"+
                                    "<h3>"+chapter[ch]+"</h3>"+
                                    "<hr>"+
                                    reommend_message+
                                    write_topic(ch, highlight)+
                                    "<br>"+
                                    learnning_media_recommend(ch)+
                                    "</div>";
        }
        disable_exercise()
    }

    function enable_disable_chapter(chapter_id){
        var chapter_style = 'margin:20px;'

        if(chapter_id > 1){
            var prev_ch = chapter_id-1;
            if(chapter_sum[prev_ch]){
                chapter_style = 'margin:20px;'
            }
            else{
                chapter_style = 'margin:20px; pointer-events: none; cursor: default;opacity: .4;'
            }

        }
        return chapter_style
    }
    
    var content_index = 0
    function write_topic(chapter_id, highlight){

        // Loop chapter topic (chapter key begin with 1 but list(topic) begin with 0)
        var topic_index = chapter_id-1
        var topic_content = ""
       
        
        for(var tp in topic[topic_index]){
            var topic_number = tp + ". ";
            if (tp == 'P' || tp == 'T'){
                topic_number = ''
            }
            var topic_style = enable_disable_topic(chapter_id, topic_index, tp)
            
            topic_content += "<div id='topic' style='"+topic_style+"'>"+topic_number+topic[topic_index][tp]+
                            "&nbsp;&nbsp;&nbsp;&nbsp;"+
                            write_vark_content(chapter_id, tp, content_index, highlight)+
                            "&nbsp;&nbsp;&nbsp;&nbsp;"+
                            topic_score_percent(chapter_id, tp)+
                            "</div>";
            content_index += 1;
        }

        return topic_content
    }

    function enable_disable_topic(chapter_id, topic_index, topic_number){
        //console.log(chapter_id, topic_index, topic_number)
        var current_topic_index = Object.keys(topic[topic_index]).indexOf(topic_number)
        var topic_style = '';

        if(topic_number == 'P'){
            topic_style = 'margin-left:20px'
        }else{
            var prev_topic = Object.keys(topic[topic_index])[current_topic_index-1];
            if(user_exercise[chapter_id] && user_exercise[chapter_id][prev_topic]){
                // if previous topic is pretest and aready done, enable current topic imidiatly
                if(prev_topic == 'P'){
                    topic_style = 'margin-left:20px'
                }
                // previous topic must more than 50 for enable next topic
                else{
                    var max_percent = Math.max(...Object.values(user_exercise[chapter_id][prev_topic]))
                    
                    if(max_percent >= 50){
                        topic_style = 'margin-left:20px'
                    }
                    else{
                        topic_style = 'margin-left:20px; pointer-events: none; cursor: default;opacity: .4;'
                    }
                }
            }
            else{
                topic_style = 'margin-left:20px; pointer-events: none; cursor: default;opacity: .4;'
            }
            
        }

        return topic_style
    }
    
    var excercise_index = 0
    function write_vark_content(chapter_id, topic_number, content_index, highlight){
        var varke_content = ""

        for(var vk in content[content_index]){
           
            if(vk == 'P' || vk == 'E' || vk == 'T'){
                var content_name = ''
                if(vk == 'P'){
                    content_name = 'Pretest'
                    varke_content += '<a href="#" name='+chapter_id+topic_number+' onclick="Examination(\''+content[content_index][vk]+'\',\''+chapter_id+'\', \''+topic_number+'\');"> '+content_name+'</a>'
                }
                else if(vk == 'E'){
                    content_name = 'Exercise'
                    varke_content += '<a href="#" name="e'+excercise_index+'"; onclick="Examination(\''+content[content_index][vk]+'\',\''+chapter_id+'\', \''+topic_number+'\');"> '+content_name+'</a>'
                    excercise_index += 1
                }
                else if(vk == 'T'){
                    content_name = 'Posttest'
                    varke_content += '<a href="#" name='+chapter_id+topic_number+' onclick="Examination(\''+content[content_index][vk]+'\',\''+chapter_id+'\', \''+topic_number+'\');" > '+content_name+'</a>'
                }
                
                
            }
            else{
                var content_name = vk
                if(vk == highlight){
                    content_name = "<u>"+vk+"</u>"
                }

                if(vk == 'K'){
                    varke_content += "<a href='#' name="+chapter_id+topic_number+" onclick='openklist("+JSON.stringify(content[content_index][vk])+");enable_exercise("+excercise_index+");'>"+content_name+"</a>"
                }
                else{
                    varke_content += '<a href="'+content[content_index][vk]+'" name='+chapter_id+topic_number+' target="popup" onclick="window.open(\''+content[content_index][vk]+'\',\'popup\',\'width=1000,height=800\');'+
                                'learn_type(\''+vk+'\');enable_exercise('+excercise_index+'); return false;"> '+content_name+' </a>';
                }
                
            }
            
        }

        return varke_content

    }

    function disabled_pass_topic(){
        
        for(var chapter_id in chapter){
            var topic_index = chapter_id-1
            for(var topic_number in topic[topic_index]){

                var el = document.getElementsByName(chapter_id+topic_number)
                if(user_exercise[chapter_id] && user_exercise[chapter_id][topic_number]){
                    var max_percent = Math.max(...Object.values(user_exercise[chapter_id][topic_number]))
                    
                    if(topic_number == 'P'){
                        el[0].classList.add('disabled');
                    }
                    else if(topic_number == 'T'){
                        el[0].classList.add('disabled');
                    }
                    else{
                        if(max_percent >= 50){
                            for(i = 0; i < el.length; i++){
                                el[i].classList.add('disabled');
                            }
                        }

                    }
                    
                
                }
            
            }
        }
    }
    
    function topic_score_percent(chapter_id, topic_number){
        var topic_percent = ""

        if(user_exercise[chapter_id]){
            if(user_exercise[chapter_id][topic_number]){
                for(var lp in user_exercise[chapter_id][topic_number]){
                    var percentcolor = ''
                    if(user_exercise[chapter_id][topic_number][lp] >= 80){
                        percentcolor = "#4ce400"
                        
                    }
                    else if(user_exercise[chapter_id][topic_number][lp]  >= 50 && user_exercise[chapter_id][topic_number][lp]  < 80){
                        percentcolor = "#ffe319"
                        
                    }
                    else{
                        percentcolor = 'red'
                    }
                    var topic_lp = ""
                    if (lp == "-"){
                        topic_lp = " "
                    }else{
                        topic_lp = lp
                    }
                    topic_percent += "<font color="+percentcolor+"><b>"+topic_lp +" "+ user_exercise[chapter_id][topic_number][lp]+" % </b></font> &nbsp;&nbsp;"
                }
            }
        }
        return topic_percent
    }

    function learnning_media_recommend(chapter_id){
        var sortable = [];
        var chapter_summary = ""
        if(chapter_sum[chapter_id]){
            chapter_summary += "<div style='margin-left:20px'>Result"
            chapter_summary += "&nbsp;&nbsp;&nbsp;&nbsp;"
            for (var lp in chapter_sum[chapter_id]) {
                sortable.push([lp, chapter_sum[chapter_id][lp]]);
            }

            sortable.sort(function(a, b) {
                return b[1] - a[1];
            });

            
            //write summary to html
            for(var slp in sortable){
                var percentcolor = ''
                if(sortable[slp][1] >= 80){
                    percentcolor = "#4ce400"
                }
                else if(sortable[slp][1] >= 50 && sortable[slp][1] < 80){
                    percentcolor = "#ffe319"
                }
                else{
                    percentcolor = 'red'
                }
                chapter_summary += "<font color="+percentcolor+"><b>"+sortable[slp][0] + " : "+sortable[slp][1]+" % </b></font>"+"&nbsp;&nbsp;&nbsp;&nbsp;"
            }
            chapter_summary += "</div>"
    
        }
        return chapter_summary
    }
    
    // underline the media learning which have recommended
    function vark_highlight(chapter_id){
        var highlight = ""
        if(chapter_sum[chapter_id]){
            var obj = chapter_sum[chapter_id];
            highlight = Object.keys(obj).reduce(function(a, b){ return obj[a] > obj[b] ? a : b });
        }
        return highlight
    }
   
    function openklist( kfile ){
        learntype = 'K'
        var win = window.open('', '',"toolbar=no, width=600, height=400");
        var doc = win.document.open();
        doc.write('<title>K Learning</title>');
        var part = 1;
        for (k in kfile) {
            
            doc.write('<a href="javascript:opener.openswf(\''+kfile[k]+'\');"> Part'+part+'</a><br>');
            part++;
        }
        
        doc.close();
    }
    
    var learntype="";
    // Click VARK and keep which type that user have clicked
    function learn_type(type){
        learntype = type
    }

    function Examination(testfile, chapterid, topicid){
        disable_exercise()
        console.log(testfile, chapterid, topicid)
        $.ajax({
                url: "/display_exercise",
                type: "post", //send it through get method
                data:{
                    'testfile': testfile,
                    'chapterid':chapterid,
                    'topicid':topicid,
                    'learntype':learntype

                },
                dataType: 'html',
                success:function(response){document.write(response); learntype="";}
            
        })
    }

    function disable_exercise(){
        for(i = 0;i<25;i++){
            var el=document.getElementsByName('e'+i)
            el[0].classList.add('disabled');
        }
    }
    
    function enable_exercise(number){
        var el=document.getElementsByName('e'+number)
        el[0].classList.remove('disabled');
        
    }
    
    //open flash file(.swf)
    function openswf (kpart){
        window.open(kpart, "popwindow","resizable=no,menubar=no,directories=no,status=no,location=no,scrollbars=yes,width=1000,height=800");
    }
    
    display_content()
    disabled_pass_topic()
</script>

{% endblock content%}