{% extends "base.html" %}
{% block content %}

    <div style="padding:10px; margin-bottom: 30px; border: 1px solid #b8b8b8; border-radius: 5px;">
        <h4> ระบบการเรียนรู้แบบปรับเหมาะตามรูปแบบการเรียนรู้ VARK เรื่องการสร้างสื่อดิจิทัล</h4><br>
        <p style="margin-left: 10px;"><b>คำชี้แจงการใช้งานระบบ</b></p>
        
        <p style="margin-left: 20px;">
            บทเรียนเรื่องการสร้างสื่อดิจิทัลมีทั้งหมด 7 บท <br>
            ก่อนเข้าสู่บทที่เรียนที่ 1 ผู้เรียนเริ่มแบบทดสอบก่อนเรียน <br>
            เข้าสู่หัวข้อเรียนโดยเลือกรูปแบบของสื่อการเรียนซึ่งมี  4 แบบ  ได้แก่  <br>
        </p>
            <p style="margin-left: 40px;">
            * V (Visual)  สื่อการเรียนที่นำเสนอเนื้อหาในรูปแบบของภาพเป็นส่วนประกอบหลัก<br>
            * A (Aural) สื่อการเรียนที่นำเสนอเนื้อหาในรูปแบบของเสียง<br>
            * R (Read/Write) สื่อการเรียนที่นำเสนอเนื้อหาในรูปแบบของข้อความเป็นส่วนประกอบหลัก<br>
            * K (Kinesthetic) สื่อการเรียนที่นำเสนอเนื้อหาในรูปแบบของการมีปฏิสัมพันธ์กับบทเรียน<br>
            </p>
        <p style="margin-left: 20px;">
            จบหัวข้อเรียนมีแบบฝึกหัด  ผู้เรียนจะต้องทำคะแนนมากกว่า 50% จึงจะสามารถเรียนในหัวข้อเรียนถัดไปได้<br>
            เมื่อเรียนจนครบทุกหัวข้อเรียนในบทเรียนแล้ว ทำแบบทดสอบหลังเรียน<br>
            ระบบจะนำเสนอรูปแบบของสื่อการเรียนที่เหมาะกับผู้เรียนในแต่ละบท  ผู้เรียนสามารถเลือกตามระบบหรือเลือกเองตามอัธยาศัย<br>
        </p>
            
    </div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
             <!-- 
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
             -->
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <!-- 
        <small class="text-muted ml-2">
            <a href="#">Forgot Password?</a>
        </small>
        -->
    </fieldset>
    </form>

<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{{ url_for('registration') }}">Sign Up Now</a>
    </small>
   
</div>
<br>
{% endblock content%}