{% extends "base.html" %}
{% block content %}

<div class="main-block">
<h1> {{ title }} </h1><br>
<div class="insert-block">
    
    {% if form %}
    <form method="POST", action="">
        {{ form.hidden_tag() }} <!-- CSRF Token (for security) -->
      
        <div class="form-group">
            <h3>{{ form.pretest.label(class="form-control-label") }}</h3>
            {{ form.pretest(class="form-control-file") }}
        </div>
        <legend class="border-bottom mb-4"></legend>
        <div class="form-group">
            <h3>{{ form.chapter.label(class="form-control-label") }}</h3>
            <div class='chapter-input'>
                Number of chapter
                <input type="number" id="chap_num" />
                <button type="button" id="num_chapter"> Submit </button>
                <div id="chapterInput"></div>
                <div id="topicInput"></div>
                <div id="k-main"></div>
                
            </div>
        </div>
        <legend class="border-bottom mb-4"></legend>
    </form>
    {% else %}
        <form method="POST", action="">
            {{ sform.hidden_tag() }} <!-- CSRF Token (for security) -->
            <div class="form-group">
                <h3>{{ sform.subject.label(class="form-control-label") }}</h3>
                {{ sform.subject(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ sform.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    {% endif %}
</div>
</div>

<script>

$(document).ready(function(e){
    
    $('#num_chapter').click(function(){     
     var chapindex= $('#chap_num').val();
     $('#chapterInput').empty();
    for( var i=0; i < chapindex; i++)
    {
        $('#chapterInput').append("<div class='chapter-input'> Chapter "+ (i+1) + 
                                "<input type='text'  id='id_"+ i +"' class='chapter-field'/>" + 
                                "<input type='number'  id= 'top_num"+ i +"' class='topicinputnum'/>" +
                                "<button type='button' id='"+ i +"' class = 'btn_topic_num'> Submit </button>" +
                                "</div>");
    }
    });

    var top_index;
    $('#chapterInput').on('click', '.btn_topic_num', function(){
        var btn_id = $(this).attr("id")
        var top_id = '#top_num'+ btn_id; // $(this).attr("id") get button id
        var topindex =  $(top_id).val();
        top_index = topindex
        console.log(btn_id)
        $('#topicInput').empty();

       
        for( var i=0; i < topindex; i++)
        {
            $('#topicInput').append("<div class='topic-input'> Topic "+ (i+1)+
                                    "<input type='text'  id='top_"+ i +"' class='chapter-field'/> </div>" + 
                                    "<div style='margin-left:250px'> V <input type='file'  id='v_"+ i + "'/> </div>" +
                                    "<div style='margin-left:250px'> A <input type='file'  id='a_"+ i + "'/> </div>" +
                                    "<div style='margin-left:250px'> R <input type='file'  id='r_"+ i + "'/> </div>" +
                                    "<div style='margin-left:250px'> K <input type='number'  id='k_num"+ i + "'/> Part <button type='button' id='btn-k-"+i+"' class='btn-kpart'> submit </button> </div>");
            
        }
        $('#topicInput').append("<div class='topic-input'><center><button type='button' class='save-topic'> Save </button></center> </div>");
        $('#topicInput').insertAfter('#'+btn_id);
    });

    $('#topicInput').on('click', '.btn-kpart', function(){
        var btn_id = $(this).attr('id');
        console.log(btn_id)
        var k_part = $('#topicInput input[type=number]').attr('id');
        var part_index = $('#'+k_part).val();
        $('#k-part').empty();
        for( var i=0; i < part_index; i++){
            $('#k-part').append("<div style='margin-left:0px'>Part "+ i +" <input type='file'  id='"+ k_part + "_"+ i +"'/> </div>");
        }
        $('#k-main').append($('#k-part').insertAfter('#'+btn_id));
 
        
    });

    var contents = [];
    $('#topicInput').on('click', '.save-topic', function(){
        var chapter_cont = [];
       
        for( var i=0; i < top_index; i++)
        {
            chapter_cont.push($('#top_'+i).val());
        }
        contents.push(chapter_cont)
        $('#topicInput').empty();
        console.log(contents);
    });


});
</script>
{% endblock content%}